:root {
  --font-family: "PTSansCaption", sans-serif;
  --content-width: 1138px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --light-color: #fff;
  --accent-color: #0dbc91;
  --capecod-color: #364844;
  --gray-color: #868686;
  --aqua-color: #e2f0ef;
  --junglegreen-color: #1fa181;
  --disabled-color: #c0c0c0;
  --watercourse-color: #08664f;
  --caribbean-color: #00d29f;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "PTSansCaption";
  src: url("../fonts/../fonts/PTSansCaptionRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "PTSansCaption";
  src: url("../fonts/../fonts/PTSansCaptionBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: (1fr)[12];
  grid-template-rows: repeat(12, 1fr);
  gap: 30px;
}

.logo svg {
  width: 91px;
  height: 27px;
  -o-object-fit: cover;
  object-fit: cover;
}

.burger {
  --burger-width: 30px;
  --burger-height: 30px;
  --burger-line-height: 2px;
  position: relative;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #000;
  background-color: transparent;
  cursor: pointer;
  display: none;
  --burger-width: 37px;
  --burger-height: 26px;
  --burger-line-height: 4px;
  color: var(--junglegreen-color);
  z-index: 101;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: 0;
}
.burger::after {
  top: calc(100% - var(--burger-line-height));
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 50%;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 50%;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
@media (max-width: 768px) {
  .burger {
    display: block;
  }
}
@media (max-width: 576px) {
  .burger {
    margin-right: 10px;
  }
}

.btn {
  display: inline-block;
  max-width: 196px;
  padding: 11px 23px;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: var(--light-color);
  background-color: var(--accent-color);
  border-radius: 50px;
  text-transform: initial;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease;
  -o-transition: background-color 0.3s ease, color 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease;
}
.btn:focus {
  outline: 2px solid var(--capecod-color);
  outline-offset: 4px;
}
@media (any-hover: hover) {
  .btn:hover {
    color: var(--light-color);
    background-color: var(--caribbean-color);
  }
}
.btn:active {
  background-color: var(--capecod-color);
}

.nav__list {
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.nav__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--light-color);
}
.nav__item:not(:last-child) {
  margin-right: 30px;
}
.nav__link {
  color: currentColor;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.nav__link:focus {
  outline: 2px solid var(--capecod-color);
  outline-offset: 4px;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--capecod-color);
  }
}
.nav__link:active {
  color: var(--gray-color);
}

.services-modal .graph-modal__container {
  width: 600px;
}
@media (max-width: 768px) {
  .services-modal .graph-modal__container {
    width: 100%;
  }
}
.services-modal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.services-modal__title {
  margin: 0;
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  text-transform: uppercase;
  color: var(--capecod-color);
}
.services-modal__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.services-modal__label:not(:last-child) {
  margin-bottom: 30px;
}
.services-modal__input {
  padding: 20px;
  width: 100%;
  border-bottom: 1px solid var(--disabled-color);
}
.services-modal__input:focus {
  outline: 2px solid var(--caribbean-color);
  outline-offset: 4px;
}
.services-modal__btn {
  margin-bottom: 20px;
  max-width: 100%;
}
.services-modal__policy {
  margin: 0;
}
.services-modal__link {
  color: var(--junglegreen-color);
  text-decoration: underline;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.services-modal__link:focus {
  outline: 2px solid var(--capecod-color);
  outline-offset: 4px;
}
@media (any-hover: hover) {
  .services-modal__link:hover {
    color: var(--caribbean-color);
  }
}
.services-modal__link:active {
  color: var(--gray-color);
}

.header {
  padding-top: 12px;
  background-color: var(--light-color);
  position: relative;
  z-index: 1000;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 12px;
}
.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.header__logo {
  margin-right: 21px;
}
.header__logo svg {
  fill: var(--accent-color);
}
@media (max-width: 768px) {
  .header__logo {
    margin-right: 0;
  }
}
.header__address {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding-left: 23px;
  background-image: url(../img/place-icon.svg);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: top left;
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
}
@media (max-width: 768px) {
  .header__address {
    display: none;
  }
}
.header__city {
  color: var(--capecod-color);
}
.header__street {
  color: var(--gray-color);
}
.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
@media (max-width: 768px) {
  .header__right {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
  }
}
@media (max-width: 768px) {
  .header__btn {
    display: none;
  }
}
.header__btn-hidden {
  display: none;
}
@media (max-width: 768px) {
  .header__btn-hidden {
    display: block;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    background-color: var(--light-color);
    color: var(--junglegreen-color);
  }
}
.header__link {
  display: block;
  margin-right: 35px;
  padding-left: 37px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--capecod-color);
  background-image: url(../img/whatsapp-icon.svg);
  background-repeat: no-repeat;
  background-size: 28px 28px;
  background-position: center left;
  -webkit-transition: color 0.3s ease;
  -o-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
@media (max-width: 768px) {
  .header__link {
    padding-left: 0;
    background-image: none;
    margin-right: 0;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;
    color: var(--capecod-color);
  }
}
.header__link:focus {
  outline: 2px solid var(--capecod-color);
  outline-offset: 4px;
}
@media (any-hover: hover) {
  .header__link:hover {
    color: var(--accent-color);
  }
}
.header__link:active {
  color: var(--gray-color);
}
.header__hidden {
  display: none;
}
@media (max-width: 768px) {
  .header__hidden {
    display: block;
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    color: var(--capecod-color);
  }
}
.header__bottom {
  background-color: var(--accent-color);
}
@media (max-width: 768px) {
  .header__nav {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100vh;
    padding: 48px 20px;
    overflow-y: auto;
    background-color: rgba(69, 146, 127, 0.9019607843);
    -webkit-backdrop-filter: blur(2px);
    backdrop-filter: blur(2px);
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    -webkit-transition: -webkit-transform 0.3s ease;
    transition: -webkit-transform 0.3s ease;
    -o-transition: transform 0.3s ease;
    transition: transform 0.3s ease;
    transition: transform 0.3s ease, -webkit-transform 0.3s ease;
  }
}
@media (max-width: 768px) {
  .header__nav .nav__list {
    padding: 0;
    margin-bottom: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
@media (max-width: 768px) {
  .header__nav .nav__item:not(:last-child) {
    margin-right: 0px;
  }
  .header__nav .nav__item:not(:last-child) {
    margin-bottom: 10px;
  }
}
.header__nav.menu--active {
  top: 63px;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.hero {
  background-color: var(--light-color);
  min-height: 533px;
}
.hero__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
@media (max-width: 1024px) {
  .hero__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
}
.hero__content {
  max-width: 416px;
}
@media (max-width: 1024px) {
  .hero__content {
    max-width: 100%;
  }
}
.hero__title {
  margin: 0;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 36px;
  line-height: 47px;
  color: var(--capecod-color);
}
@media (max-width: 576px) {
  .hero__title {
    font-size: 26px;
    line-height: 34px;
  }
}
.hero__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: var(--capecod-color);
}
@media (max-width: 576px) {
  .hero__descr {
    font-size: 14px;
    line-height: 21px;
  }
}
.hero__image {
  display: block;
}
@media (max-width: 1024px) {
  .hero__image {
    margin-bottom: 35px;
  }
}

.services {
  padding-top: 100px;
  padding-bottom: 160px;
  background-color: var(--light-color);
}
@media (max-width: 576px) {
  .services {
    padding-top: 50px;
    padding-bottom: 90px;
  }
}
.services__container {
  position: relative;
}
.services__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  border-radius: 5px;
  background-color: var(--aqua-color);
}
@media (max-width: 1024px) {
  .services__info {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
  }
}
.services__content {
  position: relative;
  max-width: 409px;
  width: 100%;
  padding: 53px 0 56px 63px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  z-index: 1;
}
@media (max-width: 768px) {
  .services__content {
    max-width: 100%;
    width: auto;
    padding: 22px 30px 42px 23px;
  }
}
.services__content::before {
  content: "";
  position: absolute;
  top: 0;
  right: -80px;
  width: 100%;
  height: 100%;
  background-color: var(--aqua-color);
  -webkit-transform: skew(15deg);
  -ms-transform: skew(15deg);
  transform: skew(15deg);
  z-index: -1;
}
@media (max-width: 1024px) {
  .services__content::before {
    display: none;
  }
}
.services__title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 700;
  font-size: 38px;
  line-height: 49px;
  text-transform: uppercase;
  color: var(--capecod-color);
}
@media (max-width: 576px) {
  .services__title {
    font-size: 26px;
    line-height: 34px;
  }
}
.services__text {
  display: block;
  font-weight: 700;
  font-size: 22px;
  line-height: 28px;
  text-transform: initial;
  color: currentColor;
}
@media (max-width: 576px) {
  .services__text {
    font-size: 14px;
    line-height: 18px;
  }
}
.services__list {
  margin-bottom: 32px;
}
.services__item {
  position: relative;
  padding-left: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: var(--capecod-color);
}
.services__item:not(:last-child) {
  margin-bottom: 8px;
}
.services__item::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7px;
  height: 7px;
  background-color: var(--junglegreen-color);
  border-radius: 100%;
}
.services__price {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 26px;
}
.services__price-new {
  margin-right: 16px;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: var(--capecod-color);
}
.services__price-old {
  font-size: 16px;
  line-height: 24px;
  -webkit-text-decoration-line: line-through;
  text-decoration-line: line-through;
  color: var(--gray-color);
}
.services__btns {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.services__action {
  width: 100%;
  text-align: center;
}
.services__action:not(:last-child) {
  margin-right: 14px;
}
.services__action--link {
  background-color: transparent;
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
@media (max-width: 576px) {
  .services__action:not(:last-child) {
    margin-right: 8px;
  }
}
.services__image {
  display: block;
  height: 100%;
}
@media (max-width: 1024px) {
  .services__image {
    width: 100%;
  }
}
.services__nav-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  position: absolute;
  bottom: -68px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 169px;
  height: 34px;
}
.services__nav-btn .swiper-button-disabled {
  pointer-events: none;
}
.services__nav-btn .swiper-button-disabled svg {
  fill: var(--disabled-color);
}
.services__nav-btn__prev {
  z-index: 100;
}
.services__nav-btn__prev svg {
  width: 34px;
  height: 34px;
  -o-object-fit: cover;
  object-fit: cover;
  fill: var(--capecod-color);
}
.services__nav-btn__prev:focus {
  outline: 2px solid var(--watercourse-color);
  outline-offset: 4px;
}
.services__nav-btn__next {
  z-index: 100;
}
.services__nav-btn__next svg {
  width: 34px;
  height: 34px;
  -o-object-fit: cover;
  object-fit: cover;
  fill: var(--capecod-color);
}
.services__nav-btn__next:focus {
  outline: 2px solid var(--watercourse-color);
  outline-offset: 4px;
}
.services__nav-pag {
  bottom: 50%;
  -webkit-transform: translateY(50%);
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}
.services__nav-pag .swiper-pagination-current {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--capecod-color);
}
.services__nav-pag .swiper-pagination-total {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--disabled-color);
}

.footer {
  padding: 50px 0;
  background-color: var(--watercourse-color);
}
@media (max-width: 576px) {
  .footer {
    padding: 40px 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  .footer__nav {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }
}
.footer .nav__link:focus {
  outline: 2px solid var(--light-color);
  outline-offset: 4px;
}
@media (any-hover: hover) {
  .footer .nav__link:hover {
    color: var(--disabled-color);
  }
}
.footer__logo svg {
  fill: var(--light-color);
}
.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.footer__social-item:not(:last-child) {
  margin-right: 15px;
}
.footer__social-link:focus {
  outline: 2px solid var(--light-color);
  outline-offset: 4px;
}
/*# sourceMappingURL=main.css.map */