.nav {
  &__list {
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap
  }

  &__item {
    @include mr(30px);

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--light-color);
  }

  &__link {
    color: currentColor;
    transition: color 0.3s ease;

    &:focus {
      outline: 2px solid var(--capecod-color);
      outline-offset: 4px;
    }

    @include hover {
      color: var(--capecod-color);
    }

    &:active {
      color: var(--gray-color);
    }
  }
}
