<footer class="footer">
  <div class="footer__container container">
    <a class="footer__logo logo">
      <svg>
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
    </a>
    <nav class="nav footer__nav" title="Добавочное меню">
      <ul class="nav__list list-reset">
        <li class="nav__item"><a href="#" class="nav__link">О клинике</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Услуги</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Специалисты</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Цены</a></li>
        <li class="nav__item"><a href="#" class="nav__link">Контакты</a></li>
      </ul>
    </nav>
    <ul class="footer__social list-reset">
      <li class="footer__social-item">
        <a class="footer__social-link" href="#" target="_blank" aria-label="instagram">
          <img src="img/insta-icon.svg" alt="instagram" width="35" height="35" loading="lazy">
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#" target="_blank" aria-label="whatsapp">
          <img src="img/whatsapp-icon.svg" alt="instagram" width="35" height="35" loading="lazy">
        </a>
      </li>
      <li class="footer__social-item">
        <a class="footer__social-link" href="#" target="_blank" aria-label="telegram">
          <img src="img/tg-icon.svg" alt="instagram" width="35" height="35" loading="lazy">
        </a>
      </li>
    </ul>
  </div>
</footer>
