<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__content">
      <h1 class="hero__title">Многопрофильная клиника для детей
        и взрослых</h1>
      <p class="hero__descr">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
        ut labore et dolore magna aliqua</p>
    </div>
    <picture>
      <source media="(min-width: 576px)" srcset="img/hero-image_2x.webp 2x" type="image/webp">
      <source media="(max-width: 575px)" srcset="img/hero-image.webp" type="image/webp">
      <source srcset="img/hero-image.webp" type="image/webp">
      <img loading="lazy" src="img/hero-image.jpg" srcset="img/hero-image__2x.jpg 2x" class="hero__image" width="950"
        height="532" alt="Красивый детский уголок для ожидания приема доктора">
    </picture>
  </div>
</section>
