<div class="graph-modal services-modal">
  <div class="graph-modal__container" role="dialog" aria-modal="true" data-graph-target="first">
    <button class="btn-reset js-modal-close graph-modal__close" aria-label="Закрыть модальное окно"></button>
    <div class="graph-modal__content services-modal__content">
      <h2 class="services-modal__title">Записаться на прием</h2>
      <form class="services-modal__form">
        <label class="services-modal__label">
          <input class="services-modal__input input-reset" type="text" name="name" placeholder="Имя"
            aria-label="Введите ваше имя">
        </label>
        <label class="services-modal__label">
          <input class="services-modal__input input-reset" type="tel" name="phone" placeholder="Телефон"
            aria-label="Введите ваш телефон">
        </label>
        <label class="services-modal__label">
          <input class="services-modal__input input-reset" type="email" name="email" placeholder="Email"
            aria-label="Введите ваш Email">
        </label>
        <button class="services-modal__btn btn btn-reset" type="submit"
          aria-label="Оставить заявку на диагностику">Оставить
          заявку на
          диагностику</button>
        <p class="services-modal__policy">Нажимая на кнопку, вы соглашаетесь с <a class="services-modal__link"
            href="#">политикой
            конфиденциальности</a> и даете согласие на
          обработку персональных данных.</p>
      </form>
    </div>
  </div>
</div>
